<section id="about-us" class="about">
  <h2 class="about__title">
    Quiénes somos
  </h2>
  <article class="member">
    <img class="member__photo" src="" alt="Foto de Yanelis" />
    <h3 class="member__title">
      Yanelis
    </h3>
    <p class="member__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint eum sed fugit vitae quis non harum voluptas
      blanditiis enim ullam
    </p>
    <ul class="member__ssnn">
      <li class="member__ssnn--item">
        <a href="twitter.com" class="member__socialicon">
          <i class="fa-brands fa-bluesky"></i>
        </a>
      </li>
      <li class="member__ssnn--item">
        <a href="linkedin.com" class="member__socialicon">
          <i class="fa-brands fa-linkedin-in"></i>
        </a>
      </li>
      <li class="member__ssnn--item">
        <a href="github.com" class="member__socialicon">
          ICO-GH
        </a>
      </li>
      <li class="member__ssnn--item">
        <a href="yanelis@adalab.es" class="member__socialicon">
          <i class="fa-regular fa-envelope"></i>
        </a>
      </li>
    </ul>
  </article>
  <article class="member">
    <img class="member__photo" src="" alt="Foto de Dayana" />
    <h3 class="member__title">
      Dayana
    </h3>
    <p class="member__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint eum sed fugit vitae quis non harum voluptas
      blanditiis enim ullam
    </p>
    <ul class="member__ssnn">
      <li class="member__ssnn--item">
        <a href="twitter.com" class="member__socialicon">
          <i class="fa-brands fa-bluesky"></i>
        </a>
      </li>
      <li class="member__ssnn--item">
        <a href="linkedin.com" class="member__socialicon">
          <i class="fa-brands fa-linkedin-in"></i>
        </a>
      </li>
      <li class="member__ssnn--item">
        <a href="github.com" class="member__socialicon">
          ICO-GH
        </a>
      </li>
      <li class="member__ssnn--item">
        <a href="dayana@adalab.es" class="member__socialicon">
          <i class="fa-regular fa-envelope"></i>
        </a>
      </li>
    </ul>
  </article>
  <article class="member">
    <img class="member__photo" src="" alt="Foto de Ana" />
    <h3 class="member__title">
      Ana
    </h3>
    <p class="member__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint eum sed fugit vitae quis non harum voluptas
      blanditiis enim ullam
    </p>
    <ul class="member__ssnn">
      <li class="member__ssnn--item">
        <a href="twitter.com" class="member__socialicon">
          <i class="fa-brands fa-bluesky"></i>
        </a>
      </li>
      <li class="member__ssnn--item">
        <a href="linkedin.com" class="member__socialicon">
          <i class="fa-brands fa-linkedin-in"></i>
        </a>
      </li>
      <li class="member__ssnn--item">
        <a href="github.com" class="member__socialicon">
          ICO-GH
        </a>
      </li>
      <li class="member__ssnn--item">
        <a href="ana.martinez@adalab.es" class="member__socialicon">
          <i class="fa-regular fa-envelope"></i>
        </a>
      </li>
    </ul>
  </article>
  <article class="member">
    <img class="member__photo" src="" alt="Foto de Iván" />
    <h3 class="member__title">
      Iván
    </h3>
    <p class="member__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint eum sed fugit vitae quis non harum voluptas
      blanditiis enim ullam
    </p>
    <ul class="member__ssnn">
      <li class="member__ssnn--item">
        <a href="twitter.com" class="member__socialicon">
          <i class="fa-brands fa-bluesky"></i>
        </a>
      </li>
      <li class="member__ssnn--item">
        <a href="linkedin.com" class="member__socialicon">
          <i class="fa-brands fa-linkedin-in"></i>
        </a>
      </li>
      <li class="member__ssnn--item">
        <a href="github.com" class="member__socialicon">
          ICO-GH
        </a>
      </li>
      <li class="member__ssnn--item">
        <a href="yanelis@adalab.es" class="member__socialicon">
          <i class="fa-regular fa-envelope"></i>
        </a>
      </li>
    </ul>
  </article>
</section>