<section class="strengths">
  <article class="strengths__article">
    <h2 class="strengths__title">
      Fortalezas
    </h2>
    <p class="strengths__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint eum sed fugit vitae quis non harum voluptas
      blanditiis enim ullam? Accusamus magnam delectus quibusdam voluptas totam illum quaerat recusandae. Numquam?
    </p>
  </article>
  <article class="strengths__article">
    <h2 class="strengths__title">
      Debilidades
    </h2>
    <p class="strengths__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint eum sed fugit vitae quis non harum voluptas
      blanditiis enim ullam? Accusamus magnam delectus quibusdam voluptas totam illum quaerat recusandae. Numquam?
    </p>
  </article>
</section>