* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;

  background-color: #099d8d;
  color: #ffffff;
  opacity: 0.95;
}

.team {
  &__title {
    text-transform: uppercase;
    color: #14d9c4;
    text-align: center;
    margin-bottom: 16px;
  }
}